{% extends "lite_layout.jinja2" %}

{% block title %}New Colleague{% endblock %}

{% block body %}

<iframe src="https://curate.dev.yeastgenome.org/#/new_colleague" width="100%" style="min-height: 80rem; border: none;">
  <p>Your browser does not support iframes.</p>
</iframe>

{% endblock body %}
